* {
    margin: 0px;
    padding: 0px;
}

.nav-container {
    display: flex;
    background-color: gray;
    padding: 20px;
    justify-content: space-around;
    align-items: center;
}

.menus {
    list-style: none;
    display: flex;
    gap: 15px;
    font-size: 17px;
    /* font-style: italic; */
}

.bannner-container {
    text-align: center;
    height: 100vh;
    background-image: url("./image/background.jpg"), linear-gradient(#817e7e, #383434);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
}

.primary {
    color: red;
}

.title {
    font-size: 55px;
    font-weight: bold;
    color: white;
}

.description {
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
}

.btn {
    padding: 12px 20px;
    border: none;
}

.bg-primary {
    background-color: red;
    color: white;
}

.service-container {
    height: 100vh;
    background-image: url("./image/footer-bg.png"), linear-gradient(#363535, #383535);
    background-blend-mode: overlay;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}

.icon {
    width: 70px;
    margin-bottom: 20px;
}

.box{
    text-align: center;
    width: 130px;
    height: 150px;
    padding: 50px;
    background-color: #fff;
    color: black;
    border-radius: 5px;
}

.service-description{
    width: 50%;
    padding-top: 20px;
    padding-bottom: 10px;
}

.line{
    padding-left: 10px;
}

.all-box2{
    display: flex;
    gap: 3px;
    margin-top: 5px;
}

.author-img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    /* padding-top: 20px; */
    margin-top: 10px;
}

.author-container{
    display: flex;
    gap: 20px;
    align-items: center;
}

.profile{
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: 1px solid red;
    padding-right: 20px;
}